@CHARSET "UTF-8";

body {
	margin: 0;
	padding: 0;
}

#bodyContents {
	width: 900px;
	margin: auto;
	padding: 1px;
	position: relative;
	border-left: 1px solid #DBDBDB;
	border-right: 1px solid #DBDBDB;
	background-color: #F3FCFF;
}

#header h1 {
	float:left;
	margin-left: 36px;
	margin-bottom: 0;
	margin-top: 4px;
	font-family: "Comic Sans MS";
	font-size: 40px;
	font-style: italic;
}

#header {
	margin: 0;
	padding: 0;
	height: 90px;
}

#langSelection {
	clear: both;
	padding-top: 4px;
	padding-left: 39px;
}

#langSelection img {
	margin-left: 48px;
}

#navBar {
	list-style: none;
	float: right;
	margin-top: -18px;
	padding-right: 120px;
	background-image:url('../images/navbar_back.jpeg');
	height: 30px;
}

#navBar li {
	margin-left: 18px;
	display: inline;
}

#navBar a {
	font-family: "Times New Roman";
	font-size: 24px;
	color: #000000;
	text-decoration: none;
}

#footer p {
	clear: both;
	text-align: center;es New Roman";
	font-family: Arial;
	font-size: 14px;
}

#mainContents {
	margin: 0;
	padding: 24px;
	font-family: Arial;
}

#regForm {
	margin-left: 100px;
	padding: 18px;
	width: 450px;
	height: 280px;
	background-color: #EDFFD3;
	border: 1px solid #D2FF92;
}

#regForm input {
	margin-bottom: 3px;
}

